@model ILS.Library.Web.Models.Home.NoticesModel;

<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <strong>@Model.Title</strong>
    <br />
    @Model.Content
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>