@model ILS.Library.Web.Models.Home.IndexViewModel 

@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-8">

        @if (Model.Notices.Any())
        {
            <div class="row">
                <div class="col-12">
                    @foreach (var notice in Model.Notices)
                    {
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        <strong>@notice.Title</strong> 
                        <br />
                        @notice.Content
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    }
                </div>
            </div>
        }

        <div class="row">
            <div class="col-12">
                <h1 class="display-4 font-weight-bold">Local library services</h1>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <p class="text-body">
                    Your local library provides many services such as book loans, CD rental and internet access.
                </p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <p class="text-body">
                    Use this service to:
                </p>
                <ul>
                    <li>Find books to borrow</li>
                    <li>Search the online library catalogue</li>
                    <li>Register for an online account</li>
                </ul>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <a role="button"
                   id="startNow"
                   class="btn btn-lg btn-success btn-start font-weight-bold"
                   asp-controller="Catalog"
                   asp-action="Index">
                    Start now
                </a>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h3 class="font-weight-bold">
                    Before you start
                </h3>
                <p>
                    You will need:
                </p>
                <ul>
                    <li>Your library card ID number</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="col-12">
            <hr />
            <h3 class="font-weight-bold">
                Related content
            </h3>
            <ul style="list-style-type: none; padding: 0px">
                <li>
                    <a asp-controller="Branch" asp-action="Index" title="View and manage Lakeview branches.">Branches</a>
                </li>
                <li>
                    <a href="https://www.goodreads.com/" target="_blank">Goodreads</a>
                </li>
                <li>
                    <a href="https://www.theguardian.com/books" target="_blank">Guardian Book Section</a>
                </li>
            </ul>
            <hr />
            <h3 class="font-weight-bold">
                Admin
            </h3>
            <ul style="list-style-type: none; padding: 0px">
                <li>
                    <a asp-controller="Patron" asp-action="Index" title="View and manage library patrons.">Patrons</a>
                </li>
            </ul>
        </div>
    </div>
</div>

