@model ILS.Library.Web.Models.Catalog.AssetModel
@using ILS.Library.Web.Enums
@{
    ViewBag.Title = "Add Library Item";
}

<h1>Add a library item</h1>

<form method="post" asp-controller="Catalog" asp-action="Add">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AuthorOrDirector">Author or Director</label>
        <input asp-for="AuthorOrDirector" class="form-control" />
        <span asp-validation-for="AuthorOrDirector" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CurrentLocation">Branch</label>
        <select asp-for="CurrentLocation"
                asp-items="Html.GetEnumSelectList<Branch>()"
                class="custom-select mr-sm-2">
        </select>
        <span asp-validation-for="CurrentLocation" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Discriminator"></label>
        <select asp-for="Discriminator"
                asp-items="Html.GetEnumSelectList<Discriminator>()"
                class="custom-select mr-sm-2">
        </select>
        <span asp-validation-for="Discriminator" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NumberOfCopies"></label>
        <input asp-for="NumberOfCopies" class="form-control" />
        <span asp-validation-for="NumberOfCopies" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Year"></label>
        <input asp-for="Year" class="form-control" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ISBN"></label>
        <input asp-for="ISBN" class="form-control" />
        <span asp-validation-for="ISBN" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DeweyCallNumber"></label>
        <input asp-for="DeweyCallNumber" class="form-control" />
        <span asp-validation-for="DeweyCallNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cost"></label>
        <input asp-for="Cost" class="form-control" />
        <span asp-validation-for="Cost" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">
        Add item
    </button>
</form>
