@model ILS.Library.Web.Models.Catalog.AssetModel
@using ILS.Library.Web.Enums
@using System 
@{
    ViewBag.Title = "Edit Library Item";
}

<environment include="Development, Production">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/catalog.js"></script>
</environment>

<h1>Update a library item</h1>

<form method="post" asp-controller="Catalog" asp-action="Edit">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AuthorOrDirector">Author or Director</label>
        <input asp-for="AuthorOrDirector" class="form-control" />
        <span asp-validation-for="AuthorOrDirector" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CurrentLocation">Branch</label>
        <select asp-for="CurrentLocation"
                asp-items="Html.GetEnumSelectList<Branch>()"
                class="custom-select mr-sm-2">
        </select>
        <span asp-validation-for="CurrentLocation" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Discriminator">Type</label>
        <select asp-for="Discriminator"
                asp-items="Html.GetEnumSelectList<Discriminator>()"
                class="custom-select mr-sm-2">
        </select>
        <span asp-validation-for="Discriminator" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NumberOfCopies">Number Of Copies</label>
        <input asp-for="NumberOfCopies" class="form-control" />
        <span asp-validation-for="NumberOfCopies" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Year"></label>
        <input asp-for="Year" class="form-control" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ISBN"></label>
        <input asp-for="ISBN" class="form-control" />
        <span asp-validation-for="ISBN" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DeweyCallNumber">Dewey Index Number</label>
        <input asp-for="DeweyCallNumber" class="form-control" />
        <span asp-validation-for="DeweyCallNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cost"></label>
        <input asp-for="Cost" class="form-control" />
        <span asp-validation-for="Cost" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="form-group">
                <label asp-for="ImageUrl">Image Link</label>
                <input asp-for="ImageUrl" value="@Model.ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 text-center">
            <img src="@Model.ImageUrl" id="imagePreview" class="imageCell center" hidden />
        </div>
    </div>
    <input type="hidden" asp-for="AssetId" />
    <button type="submit" class="btn btn-primary">
        Update item
    </button>
</form>
