@model ILS.Library.Web.Models.Notices.NoticeModel;
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update notice</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" 
               class="form-control" 
               name="title" 
               value="@Model.Title" 
               id="Title">
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <input type="text" 
               class="form-control" 
               name="content" 
               value="@Model.Content" 
               id="Content">
    </div>
    <div class="form-group row">
        <label for="example-datetime-local-input" class="col-2 col-form-label">Valid From</label>
        <div class="col-10">
            <input class="form-control" 
                   type="datetime-local" 
                   value="" 
                   name="ValidFrom" 
                   id="valid-from"
                   required>
        </div>
    </div>
    <div class="form-group row">
        <label for="example-datetime-local-input" class="col-2 col-form-label">Valid To</label>
        <div class="col-10">
            <input class="form-control" 
                   type="datetime-local" 
                   value="" 
                   name="ValidTo" 
                   id="valid-to"
                   required>
        </div>
    </div>
    <button class="btn btn-primary"
            type="submit"
            asp-controller="Notice"
            asp-action="Edit">
        Update notice
    </button>
</form>