@model ILS.Library.Web.Models.Notices.NoticeModel;
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update notice</h1>

<form method="post" asp-controller="Notice" asp-action="Edit">
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input type="text" 
               class="form-control"  
               value="@Model.Title" 
               asp-for="Title">
    </div>
    <div class="form-group">
        <label asp-for="Content">Content</label>
        <input type="text" 
               class="form-control" 
               value="@Model.Content" 
               asp-for="Content">
    </div>
    <div class="form-group row">
        <label asp-for="ValidFrom" class="col-2 col-form-label">Valid From</label>
        <div class="col-10">
            <input class="form-control" 
                   type="datetime-local" 
                   value="@string.Format("{0:yyyy-MM-dd}T{0:HH:mm}", Model.ValidFrom)" 
                   asp-for="ValidFrom"
                   required>
        </div>
    </div>
    <div class="form-group row">
        <label for="example-datetime-local-input" class="col-2 col-form-label">Valid To</label>
        <div class="col-10">
            <input class="form-control" 
                   type="datetime-local" 
                   value="@string.Format("{0:yyyy-MM-dd}T{0:HH:mm}", Model.ValidTo)" 
                   asp-for="ValidTo"
                   required>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">
        Update notice
    </button>
</form>